@page
@model WDPDY2_Project.Views.Home.MarcellModel
@{
}
<style>
    h1 {
        font-family: 'Adobe Arabic';
    }

    h2 {
        font-family: 'Adobe Arabic';
        font-size:20px;
    }
</style>
<h1>¡Hola!</h1>

<h2>¿Cuánto control tienes sobre tu vida? ¿Está todo predeterminado o tenemos libre albedrío?</h2>