body {
    font-family: 'Adobe Arabic';
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    font-family: 'Adobe Arabic';
}

h2 {
    font-family: 'Adobe Arabic';
}

.banner {
    position: relative;
    width: 100%;
    height: 100px; /* Set height for a thin banner */
}

.banner-image {
    width: 100%;
    height: 100%; /* Ensure the image fills the banner height */
    object-fit: fill; /* Maintain image aspect ratio */
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

h1 {
    margin: 5px 0;
}

h2 {
    margin: 5px 0;
}

main {
    padding: 20px;
}

section {
    background: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background: #7a482c; /* Matching footer color */
    color: #fff;
    width: 100%;
}
